$primary: #ff5733;
$secondary: #c7f8ff;
$cta: #28a745;

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: sans-serif;
  font-weight: 600;
  color: #333;
  margin-bottom: 0.5rem;
}

h1 {
  font-size: 2.5rem;
  line-height: 1.2;
}

h2 {
  font-size: 2rem;
  line-height: 1.3;
}

h3 {
  font-size: 1.75rem;
  line-height: 1.4;
}

h4 {
  font-size: 1.5rem;
  line-height: 1.5;
}

h5 {
  font-size: 1.25rem;
  line-height: 1.6;
}

h6 {
  font-size: 1rem;
  line-height: 1.6;
}

.text-center h1,
.text-center h2,
.text-center h3 {
  text-align: center;
}

// Containers
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0.5rem;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.start {
  justify-content: start;
}
.center {
  justify-content: center;
}
.wrap {
  flex-wrap: wrap;
}
.col {
  flex-direction: column;
}

header {
  background-color: $primary;
  color: $secondary;
  cursor: pointer;
  h1 {
    color: $secondary;
    &:hover {
      color: rgb(255, 255, 255);
    }
  }
  span {
    font-size: 2rem;
  }
}

.grid {
  display: grid;
  grid-template-columns: 20% 75%;
  gap: 1%;
  grid-template-areas: 'aside main';
}

button {
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: none;
  color: $primary;
  background-color: $secondary;
  transition: all ease-in 0.1s;
  cursor: pointer;
  &:hover {
    background-color: $primary;
    color: $secondary;
  }
}

.dark-mode {
  background-color: rgba(11, 11, 11, 0.805);
  color: white;
  header {
    background-color: #ab5b39;

    $cta: #1e7e34;
  }
  button {
    background-color: #3d6b7c;
    color: white;
    &:hover {
      background-color: #ab5b39;
    }
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #f1f1f1;
  }
  img {
    opacity: 0.5;
  }
  select {
    opacity: 0.5;
  }
}
